*.*~

## Clojure
.nrepl-port
.cpcache/
.rebl/

## Leiningen
target/
.lein-failures
# only for Leiningen projects, remove for Maven projects
**/pom.xml

## VS Code Calva
.calva
.clj-kondo
.cpcache
.lsp

## Eclipse
.classpath
.project
.settings/
bin/
hs_err_pid*.log
